.modal-container {
    width: 100%;
    max-width: fit-content;
    height: 100vh;
    margin: auto;
    padding: 1rem 0;
    
    display: flex;
    justify-content: center;
    align-items: center; 
}
.modal-container .modal {
max-width: 1200px;
width: 95%;

border-radius: 10px; 
border: 1px solid #ccc;
background-color: #fff;

display: flex;
flex-direction: column;
flex-warp: nowrap;

}

.modal-container .modal.modal-body-scroll {
max-height: 100%;
overflow: hidden;
}

.modal-container .modal-header{
border-bottom: 1px solid #000;
padding: 20px;
}
.modal-container .modal-body{
padding: 10px 20px;
overflow-y: auto;

.movie-card-image {
    margin-bottom: 0.5rem;
}
.movie-card-overview {
    margin-bottom: 0.5rem;
}
}
.modal-container .modal-footer{
border-top: 1px solid #000;
padding: 20px;
}